body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}


div.container {
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

input, strong, button{
    margin-top: 20px;
    margin-bottom: 20px;
}