body {
    margin: 0;
}

.chatAI {
    position: fixed;
    display: flex;
    bottom: 40px;
    right: 40px;
    /* padding: 7px; */
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
    border-bottom-left-radius: 25px;
    background-color: black;
    color: white;
    background-color: #0176D3;
}

.ai img {
    height: 30px;
}

.chatAI a {
    margin-left: 10px;
    margin-top: 8px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.chatAI:hover {
    background-color: #0A5F9B;
}

header {
    width: 100%;
    height: 96px;
    position: fixed;
    background-color: #ffffff;
}

header .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-session {
    width: 65%;
    height: 96px;
    display: flex;
    align-items: center;
    padding-left: 35px;

}

.right-session {
    height: 96px;
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;

}




.navlinks ul {
    list-style: none;
}

.navlinks ul li {
    float: left;

}

.navlinks ul li a {
    display: inline-block;
    padding: 20px;
    padding-top: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: 700;
    color: #072f5f;
}

.navlinks a:hover {
    color: #0a7edc;
}

#check {
    display: none;
}

.checkbtn{
    display: none;
}

/* @media (max-width: 768px) {
    .checkbtn {
        display: block;
        order: 1;
        margin-right: 20px;
    }

    ul {
        position: fixed;
        top: 80px;
        right: -100%;
        background-color: rgb(255, 255, 255);
        width: 30%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    .main{
        padding-top: 100vh;
    }

    ul li {
        margin: 20px 0;
    }

    ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        right: 0;
    }
} */


@media (max-width: 768px) {
    .checkbtn {
        display: block;
        order: 1;
        margin-left: 20px; /* Adjusted for left alignment */
    }

    ul {
        position: fixed;
        top: 80px;
        left: -100%; /* Start off-screen on the left */
        background-color: rgb(255, 255, 255);
        width: 30%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.3s;
    }

    /* #check:checked~.main {
        padding-top: 100vh;
    } */

    ul li {
        margin: 20px 0;
    }

    ul li a {
        font-size: 20px;
    }

    #check:checked~ul {
        left: 0;
    }
}

#login {
    background-color: #ffffff;
    color: #032D60;
    font-size: 15px;
    border: none;
    font-weight: 700;
    height: 40px;
    width: 90px;
    border-radius: 30px;

}

.login-dropdown {
    display: none;
    position: absolute;
    width: 200px;
    height: auto;
    padding-left: 20px;
    /* margin-left: -100px; */
    margin-top: 10px;
    border-radius: 10px;
    text-align: start;
    font-size: 16px;
    background-color: #c6dbf4;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-link {
    font-size: 13px;
    color: #0176D3;
    font-weight: 500;
}

.dropdown-link h5 {
    color: #a7a6a6;
    font-weight: 500;
}

#search-btn,
#globe-btn {
    background-color: transparent;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 30px;
}

#search-btn:hover,
#globe-btn:hover,
#login:hover {
    background-color: #e5eefb;
    cursor: pointer;
}

#login:hover .login-dropdown {
    background-color: #f9fdff;
    display: block;
    cursor: pointer;
}

.login-dropdown p {
    margin-top: 20px;
    font-size: 14px;
    color: #3b3a3a;
    font-weight: 500;
    line-height: 25px;
}

#btn-try {
    width: 130px;
    height: 40px;
    background-color: #2E844A;
    color: white;
    font-weight: bold;
    font-size: 16px;
    letter-spacing: 1px;
    border: none;
    border-radius: 3px;
}

#btn-try:hover {
    background-color: #051e0d;
    cursor: pointer;
}

.contact {
    padding-top: 10px;
    line-height: 10px;
}

.contact a {
    font-size: 14px;
    padding-left: 10px;
    color: #032D60;
    font-family: Arial, Helvetica, sans-serif;
}

.main {
    padding-top: 96px;
    justify-content: center;
    align-items: center;
}

.dreamforce {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #032D60;
    color: white;
}

.dreamforce h3 {
    margin-left: 20px;
    margin-right: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    letter-spacing: 0;
}

.dreamforce a {
    font-size: 16px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.section1 {
    width: 100%;
    height: 640px;
    background-image: url("images/section1-bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
}

.section1-left {
    width: 50%;
    height: 100%;
    padding-left: 120px;
    padding-top: 90px;
}

.heading h1 {
    width: 620px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 60px;
    color: #032D60;
    letter-spacing: -4px;
}

.subheading {
    width: 530px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(26, 25, 25);
    margin-top: -15px;
    letter-spacing: .3px;
    line-height: 28px;
}

.section1-btn button {
    margin-top: 20px;
}

.blue-button {
    height: 50px;
    width: 165px;
    background-color: #0176D3;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 15px;
}

.blue-button:hover {
    background-color: #0A5F9B;
    cursor: pointer;
}

.white-button {
    height: 50px;
    width: 165px;
    background-color: #ffffff;
    color: #0176D3;
    border-color: #0176D3;
    border-radius: 4px;
    font-size: 15px;
    margin-left: 20px;
}

.white-button:hover {
    background-color: #F7F7F7;
    cursor: pointer;
}

.section1-right {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section1-right iframe {
    width: 600px;
    height: 350px;
    border-radius: 15px;
}

.section2 {
    width: 100%;
    height: 960px;
    background-image: url("images/section2-bg.webp");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: bottom;

}

.headings {
    width: 50%;
    text-align: center;
    margin-left: 400px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 37px;
    line-height: 48px;
    color: #032752;
}

.cards {
    width: 1275px;
    height: 425px;
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;
}

.card1,
.card2,
.card3,
.card4 {
    height: 100%;
    width: 280px;
    background-color: white;
    box-shadow: 0 5px 6px rgb(184, 182, 182);
    border-radius: 10px;
}

.card-img {
    width: 100%;
    height: 170px;
    padding: 0;
}

.card-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-content {
    width: 100%;
    height: 150px;
    padding-left: 30px;
    padding-top: 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #032D60;
    font-size: 18px;
    letter-spacing: -0.32px;
}

.card-content p {
    font-size: 17px;
    color: rgb(48, 47, 47);
    letter-spacing: -0.2px;
    width: 220px;
    margin-top: 12px;
    line-height: 25px;
}

.card-link {
    height: auto;
    width: 100%;
    color: #032D60;
    padding-top: 30px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.section2-btn button {
    height: 50px;
    width: 200px;
    margin-top: 60px;
    margin-left: 670px;
}

.section3 {
    width: 100%;
    height: 380px;
    padding-top: 50px;
    justify-content: center;
    align-items: center;
}

.section3 h1 {
    margin: auto;
    font-size: 47px;
}

.sub-discription {
    margin: auto;
    margin-top: 30px;
    width: 700px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(26, 25, 25);
    letter-spacing: 1px;
    line-height: 25px;
}

.section3-btn {
    margin-left: 590px;
    margin-top: 60px;
}


.section4 {
    width: 100%;
    height: 850px;
}

.skill-card1,
.skill-card2,
.skill-card3 {
    height: 100%;
    width: 380px;
    background-color: white;
    box-shadow: 0px 0px 10px 2px rgb(184, 182, 182);
    border-radius: 10px;
    padding-top: 20px;
}

.skill-card1 .card-img {
    height: 120px;
    width: 120px;
    margin-left: 140px;

}

.section4-btn {
    margin-top: 125px;
    margin-left: 650px;
}

.section5 {
    width: 100%;
    height: 900px;
    background-image: url("images/section5-bg.webp");
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.row1 {
    width: 1300px;
    height: 100px;
    margin: auto;
    margin-top: 60px;
    display: flex;
    justify-content: space-between;

}

.row2 {
    width: 420px;
    height: 100px;
    margin: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.card {
    width: 200px;
    height: 100%;
    background-color: #ffffff;
    box-shadow: 3px 6px 4px 2px rgb(228, 226, 226);
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;

}

.card img {
    height: 50px;
    width: 135px;
}

.section5-btn {
    margin-top: 125px;
    margin-left: 650px;
}

.section6 {
    width: 100%;
    height: 550px;
    padding-top: 70px;
}

.block {
    width: 1250px;
    height: 450px;
    border-radius: 6px;
    margin-left: 130px;
    box-shadow: 0px 5px 10px -3px #a7a6a6;
    display: flex;
}

.left-side {
    width: 55%;
    height: 100%;
    align-items: center;
}

.right-side {
    width: 45%;
    height: 100%;
}

.left-side .discription .headings {
    margin-left: 100px;
    margin-top: 75px;
    width: 700px;
    text-align: left;
}

.section6-btn {
    margin-left: 100px;
    margin-top: 75px;
}

.right-side img {
    height: 100%;
    width: 100%;
}

.section7 {
    width: 100%;
    height: 550px;
}

.s7-cards {
    width: 1275px;
    height: 400px;
    margin-left: 120px;
    margin-right: 100px;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}

.s7-card1,
.s7-card2,
.s7-card3,
.s7-card4 {
    width: 400px;
}

.s7-card-img {
    width: 100%;
    height: 270px;
    padding: 0;
}

.s7-card-img img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.card-link {
    height: auto;
    width: 100%;
    color: #032D60;
    padding-top: 50px;
    padding-left: 30px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.card-link a {
    color: #032D60;
}

.section8 {
    width: 100%;
    height: 900px;
    background-image: url("images/section8-bg.webp");
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: contain;
}

.section8-cards-container {
    width: 1400px;
    height: 355px;
    margin-top: 70px;
    display: flex;
    justify-content: space-evenly;
    margin-left: 55px;
    margin-right: 20px;
}

.section8-cards img {
    height: 280px;
    width: 400px;
}

.section8-cards p {
    width: 355px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(26, 25, 25);
    margin-top: 23px;
    letter-spacing: .5px;
    line-height: 28px;
}


.section10 {
    width: 100%;
    height: 500px;
    display: flex;
    padding-top: 40px;
}

.s10-links1 {
    width: 400px;
    margin-left: 110px;
    height: 100%;
}

.social-midea-link {
    width: 400px;
    height: 50px;
    margin-top: 50px;
}

.social-midea-link i {
    margin-right: 20px;
}

.contact p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.s10-links {
    width: 300px;
    height: 100%;
}

.s10-links h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
}

.s10-links ul {
    list-style: none;
    line-height: 35px;
    margin-left: -40px;
}

.s10-links ul li a {
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: #0176D3;
}

footer {
    height: 45px;
    width: 100%;
    background-color: #032D60;
    padding-top: 30px;
    display: flex;
    padding-bottom: 20px;
}

.footer-btn {
    display: flex;
    width: 20%;
    justify-content: center;
}

footer button {
    height: 40px;
    width: 165px;
    margin-left: 110px;
    background-color: #032D60;
    border-color: white;
    color: white;
    font-size: 16px;
    font-weight: 600;
    float: left;
}

footer button:hover {
    cursor: pointer;
}

footer ul {
    list-style: none;
    font-size: 11px;
    font-family: Aria1l, Helvetica, sans-serif;
    font-weight: 300;
}

footer ul li {
    float: left;
    margin-left: 25px;
    margin-top: -10px;
}

footer h6 {
    color: white;
    margin-left: 65px;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    letter-spacing: 0.5px;
    float: left;
}

footer a {
    color: #ffffff;
}