body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh;
}

button,
input,
span {
    margin: 20px;
    /* padding: 10px; */
    /* padding-bottom: 20px; */
}

div.container {
    text-align: center;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}